* {
    margin: 0;
}

#content-body {
    background: linear-gradient(#FFCE45, #D4AC2B, #B05E27, #7E370C);
}

::placeholder {
    text-align: center;
    font-size: larger;
    background-color: #ffffff;
}

main {
    height: 100vh;
    letter-spacing: 0.05em;
}

div {
    line-height: 1.5;
}

.col-12 {
    margin-bottom: 15px;
}

@media screen and (max-width: 617px){
    .navbar {
        justify-content: center;
    }
    #navbar-pad {
        padding: auto 0;
        position: relative;
    }
    #text-input {
        width: 85vw;
    }
    .nav-h1 {
        font-size: small;
    }
}

.weather-img {
    width: 10vw;
}

button, .inp-form, .card-box {
    box-shadow: 10px 10px 8px black;
}

.navbar-pad {
    padding: 1.5rem 0;
}

.inp-form {
    width: 25vw;
}