* {
    margin: 0;
}

#content-body {
    background: linear-gradient(#9EB23B, #C7D36F, #FCF9C6, #E0DECA, #C7D36F, #9EB23B);
}

::placeholder {
    text-align: center;
    font-size: larger;
    background-color: #ffffff;
}

main {
    height: 100vh;
    letter-spacing: 0.05em;
}

div {
    line-height: 1.5;
}

.col-12 {
    margin-bottom: 15px;
}

@media screen and (max-width: 600px){
    .navbar {
        justify-content: center;
    }
    #text-input {
        width: 85vw;
    }
}

.weather-img {
    width: 10vw;
}

button, .inp-form, .card-box {
    box-shadow: 10px 10px 8px black;
}

.navbar-pad {
    padding-bottom: 3rem;
}

.inp-form {
    width: 25vw;
}